body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.header-principal {
  background-color: #333;
  color: crimson;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post-header {
  background-color: #333;
  color: crimson;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 36px;
  flex-basis: 100%;
  text-align: center;
}

nav {
  flex-basis: 100%;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: inline-flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: crimson;
}

main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  flex-basis: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px;
  border-radius: 10px;
}

article h2 {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 10px;
}

article p {
  margin: 15px 0 10px 0;
  font-size: 17px;
  line-height: 1.5;
}

article ol {
  margin: 0 auto;
  padding: 0 0 0 20px;
  font-size: 16px;
  line-height: 1.5;
}

article ol li {
  margin-bottom: 10px;
}

article ul {
  margin: 0 auto;
  padding: 0 0 0 20px;
  font-size: 16px;
  line-height: 1.5;
}

article ul li {
  margin-bottom: 10px;
}

aside {
  flex-basis: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

aside h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

aside a:hover {
  color: crimson;
}

footer {
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  position: relative;
  min-height: 100%;
  background: #fcfcfc;
  height: 50px;
}

.post-container {
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease;
}

.post-container:hover {
  background-color: #f1f1f1;
}

.post-container a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.post-container a:hover {
  color: crimson;
}

.post-image {
  width: 300px;
  height: 300px;
  margin: 5px;
  position: relative;
}

.logo {
  width: 80px;
  height: 80px;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 0;
}

.botao-contato {
  width: 130px;
  height: 60px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 46%;
  padding: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.botao-contato:hover {
  background-color: crimson;
}

form {
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: crimson;
}

/* Estilos para as mensagens de erro */

input:invalid,
textarea:invalid {
  border-color: crimson;
}

input:invalid:focus,
textarea:invalid:focus {
  outline: none;
}

.error {
  color: crimson;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.fale-conosco {
  margin-left: 15%;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.nosso-contato {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
